@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 50%;
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 62.5%;
  }
}
